<div class="card-galery d-flex flex-row justify-content-around">
  <div class="d-flex flex-column justify-content-between">
    <div class="">
      <img [src]="products[1].img" class="img-fluid rounded img-secondary" />
    </div>
    <div class="">
      <img [src]="products[1].img" class="img-fluid rounded img-secondary" />
    </div>
    <div class="">
      <img [src]="products[1].img" class="img-fluid rounded img-secondary" />
    </div>
  </div>

  <div class="">
    <img [src]="products[0].img" class="img-fluid rounded img-primary" />
  </div>
</div>
