<nav class="navbar">
  <div class="logo-contenedor">
    <h1><a href="#" class="logo">Pink Vibe</a></h1>
  </div>
  <div class="sidebar">
    <ul class="link-contenedor">
      <li>
        <a href="#" class="link"
          ><img
            src="../../../../assets/icons/bxs-shopping-bag.svg"
            alt=""
            class="icono"
          />
          TIENDA
        </a>
      </li>
      <li>
        <a href="#" class="link"
          ><img
            src="../../../../assets/icons/bxs-heart-circle.svg"
            alt=""
            class="icono"
          />DROP</a
        >
      </li>
      <li>
        <a href="#" class="link"
          ><img
            src="../../../../assets/icons/bx-category.svg"
            alt=""
            class="icono"
          />CATEGORIAS</a
        >
      </li>
      <li>
        <a href="#" class="link"
          ><img
            src="../../../../assets/icons/bx-slider.svg"
            alt=""
            class="icono"
          />FILTROS</a
        >
      </li>
      <li>
        <a href="#" class="link"
          ><img
            src="../../../../assets/icons/bxs-phone.svg"
            alt=""
            class="icono"
          />CONTACTO</a
        >
      </li>
    </ul>
  </div>
</nav>
