/* .contenedor {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";
}

.aside {
  grid-area: aside;
  height: 100vh;
  background-color: #fed8ea;
  width: 18rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}


.main {
  grid-area: main;
}
*/

.border {
  background-color: #e84996;
  width: 2rem;
}
 .contenedor {
  display: flex;
}

.aside {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fed8ea;
  height: 100vh;
  overflow-y: auto; /* Permite hacer scroll si el contenido es más largo que la barra lateral */
  width: 18rem;
  display: flex;
  //flex-direction: row;
  gap: 1rem;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.main {
  flex-grow: 1; /* Permite que el contenido principal ocupe todo el espacio restante */
  margin-left: 19rem; /* Ajusta esto según el ancho de la barra lateral */
}
