.card-shop {
  width: 17rem;
  height: 19rem;
  border-radius: 2.5rem;
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 2rem;
}



.img {
  transition: transform 0.3s ease;
}



.card-shop:hover .img{
  transform: scale(1.3) ;
  //transform: scale(1.05);
}


.img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.3s ease;

}

p{
  margin: 0rem;
  font-weight: 600;
  color: #ffff;
}

.price {
  position: absolute;
  bottom: 15px;
  right: 20px;
  background-color: #ff95d1;
  padding: 5px 10px;
  border-radius: 4px;
}

.card-shop-body {
  padding: 1rem;
}

//


.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  color: #ff95d1;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.card-mensaje{
  padding-left: 15px;
  padding-bottom: 10px;
}


.card-shop:hover .card-info {
  opacity: 1;
}



.card-shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
