.titulo{
  font-size: 3rem;
  font-weight: 600;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row ;
  justify-content: space-between; /* Ajusta la alineación horizontal de las tarjetas */
  gap: 1rem; /* Espacio entre las tarjetas */
}
